dialog {
top: 28%;
width: 400px;  
border: 1px solid rgba(0,0,255,0.3);
border-radius: 15px;
box-shadow: 0 3px 7px rgba(0,0,255,0.3);
border-top: 5px solid #20204b;
}

button{background-color: inherit;
  padding: 10px;
background: #20204b;
font-size: 14px;
font-weight: 400;
color: #fff;
border-radius: 8px;
align-items: center;

}

button:hover {
background: #2371a0;
}

/* The Close Button */

/* The Close Button */

#close {
color: #aaa;
float: right;
display: inline-block;
font-size: 28px;
font-weight: bold;
}
#close:hover,
#close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

